@model IEnumerable<Category>


<div class="aside-block">
    <h3 class="aside-title">گروه ها</h3>
    <ul class="aside-links list-unstyled">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Category"
                   asp-action="ShowCategory"
                   asp-route-categoryId="@category.Id"
                   asp-route-categoryTitle="@category.Title"><i class="bi bi-chevron-right"></i> @category.Title</a>
            </li>
        }

    </ul>
</div><!-- End Categories -->
